extend base

block content 
    .container
        h2 Sign Up
        form#signupForm
            label(for="username") Username:
            input(type="text", id="username", name="username", placeholder="Enter your username")

            label(for="email") Email:
            input(type="email", id="email", name="email", placeholder="Enter your email")

            label(for="password") Password:
            input(type="password", id="password", name="password", placeholder="Enter your password")

            label(for="confirmPassword") Confirm Password:
            input(type="password", id="confirmPassword", name="confirmPassword", placeholder="Confirm your password")

            input(type="submit", value="Sign Up")
        #message= "Listening"
